* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  border: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url(img/jpg_20221008_100214_0000.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; /* Resmi tekrarlama */
  background-size: cover; /* resmi ekranı kaplayacak hale getir. */
  /*margin-top: 13rem;*/
}

.container {
  width: 100%;
  height: 60rem;
}
.container .menu-row {
  padding: 30px;
  margin-block-start: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  font-weight: 600;
  margin-left: -3rem;
}
.container .menu-row .menu-left {
  width: 65%;
  height: 300px;
  display: flexbox;
  align-items: center;
  font-size: 20px;
}
.container .menu-row .menu-right {
  width: 65%;
  height: 300px;
  display: flexbox;
  align-items: center;
  font-size: 20px;
  margin-left: 11rem;
}
.container .menu-row .menu-right a {
  color: #1c1e21;
  padding-top: 0;
  padding-left: 20px;
}
.container .menu-row .menu-right a:hover {
  text-decoration: underline;
}
.container .menu-row .menu-mid input {
  width: 150%;
  height: 22px;
  border-radius: 1rem;
  margin-bottom: 270px;
  font-size: 17px;
  border: 2px solid #e591c5;
  padding: 14px 16px;
  color: #1d2129;
}
.container .menu-row .menu-mid input:focus {
  border-color: #f0cb25e0;
}
.container .mid-row .mid-left {
  padding: 5%;
  width: 55%;
  height: 100px;
  flex-direction: column;
  position: fixed;
  top: 180px;
}
.container .mid-row .mid-left h2 {
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
}
.footer .footer-left .icons {
  padding: 5%;
  width: 55%;
  height: 100px;
  flex-direction: column;
  position: fixed;
  top: 70%;
}
.footer .footer-left .icons a {
  padding-right: 25px;
}
.container .menu-row-game {
  padding: 60px;
  margin-block-start: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.menu-row-game {
  height: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container .menu-row-game .menu-left-game {
  width: 65%;
  height: 300px;
  display: flexbox;
  align-items: center;
  font-size: 20px;
}
.container .menu-row-game .menu-right-game {
  width: 65%;
  height: 300px;
  display: flexbox;
  align-items: center;
  font-size: 20px;
}
.container .menu-row-game .menu-right-game a {
  color: #1c1e21;
  padding-top: 0;
  padding-left: 20px;
}
.container .menu-row-game .menu-right-game a:hover {
  text-decoration: underline;
}
.container .menu-row-game .menu-mid-game input {
  width: 150%;
  height: 22px;
  border-radius: 17px;
  margin-bottom: 270px;
  font-size: 17px;
  border: 2px solid #dddfe2;
  padding: 14px 16px;
  color: #1d2129;
}
.container .menu-row-game .menu-mid-game input:focus {
  border-color: #f0cb25e0;
}
.mid-row-game .card-group .card {
  padding: 5%;
  float: left;
  justify-content: center;
  width: 90%;
  height: -webkit-fill-available;
}
.card {
  float: left;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10px 10px 10px 10px;
}
.card-text {
  white-space: nowrap;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
h5 {
  margin-top: 20px;
}
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-top: 20px;
  font-size: large;
}
.box-card {
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  float: left;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
}
.footer-game {
  margin-bottom: 10px;
  padding: 20px;
  background-color: tomato;
  cursor: pointer;
}
h4 {
  text-align: left;
  margin-top: 20px;
  font-size: larger;
  font-weight: normal;
}



@media screen and (min-width: 960px) {
  .container .menu-row-game .menu-mid-game input{
    width: 120%;
  }
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  .container .menu-row-game .menu-left-game{
    width: 122%;
  }
  .container .menu-row-game .menu-mid-game input{
    width: 95%;
  }
  .container .menu-row-game .menu-right-game {
    width: 95%;
  }
  
}
@media screen and (min-width: 640px) and (max-width: 719px) {
  .container .menu-row-game .menu-left-game{
    width: 122%;
  }
  .container .menu-row-game .menu-mid-game input{
    width: 95%;
  }
  .container .menu-row-game .menu-right-game {
    width: 95%;
  }
  .box-card{
    margin-left: 2%;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .container .menu-row-game .menu-left-game{
    width: 160%;
  }
  .container .menu-row-game .menu-mid-game input{
    width: 95%;
    padding: 13%;
    margin-left: -2rem;
  }
  .container .menu-row-game .menu-right-game {
    width: 160%;
  }
  .container .menu-mid-game{
    padding-left: -1rem;
  }
  .box-card{
    margin-left: 21%;
  }
  .container .menu-row .menu-left{
    font-size: 17px;
  }
  .container .menu-row .menu-right{
    font-size: 17px;
    width: 145%;
  }
  .container .menu-row .menu-mid input{
    display: none;
  }
  .container .menu-row{
    padding: 47px;
  }
  .container .mid-row .mid-left h2 {
    font-size: 27px;
  }
  .footer .footer-left .icons{
    width: 90%;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .container .menu-row-game .menu-left-game{
    width: 160%;
    font-size: 16px;
  }
  .container .menu-row-game .menu-mid-game input{
    width: 79%;
    padding: 13%;
    margin-left: -1rem;
    display: none;
  }
  .container .menu-row-game .menu-right-game {
    width: 220%;
    font-size: 16px;
  }
  .container .menu-mid-game{
    padding-left: -1rem;
  }
  .box-card{
    margin-left: 11.5%;
  }
  .container .menu-row .menu-left{
    font-size: 16px;
  }
  .container .menu-row .menu-right{
    font-size: 16px;
    width: 145%;
  }
  .container .menu-row .menu-mid input{
    display: none;
  }
  .container .menu-row{
    padding: 47px;
  }
  .container .mid-row .mid-left h2 {
    font-size: 27px;
  }
  .footer .footer-left .icons{
    width: 90%;
  }
}
@media screen and (min-width: 260px) and (max-width: 319px){
  .container .menu-row-game .menu-left-game{
    width: 197%;
    font-size: 13px;
  }
  .container .menu-row-game .menu-mid-game input{
    width: 79%;
    padding: 13%;
    margin-left: -1rem;
    display: none;
  }
  .container .menu-row-game .menu-right-game {
    width: 220%;
    font-size: 13px;
  }
  .container .menu-mid-game{
    padding-left: -1rem;
  }
  .box-card{
    margin-left: 1%;
  }
  .container .menu-row .menu-left{
    font-size: 13px;
  }
  .container .menu-row .menu-right{
    font-size: 13px;
    width: 145%;
  }
  .container .menu-row .menu-mid input{
    display: none;
  }
  .container .menu-row{
    padding: 47px;
  }
  .container .mid-row .mid-left h2 {
    font-size: 27px;
  }
}